@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-gray-950 text-gray-100 font-mono;
  min-height: 100dvh;
}

#root {
  min-height: 100dvh;
}
